<p style="color: green"><%= notice %></p>

<h1><%= t('banks.title') %></h1>

<%= link_to t('banks.new_bank'), new_bank_path(locale: I18n.locale) %>

<%= render partial: 'bank', collection: @banks %> <!-- Renderizar el partial para cada banco en @banks -->

